/* table{
    border:2px solid black; 
    margin: 0px;
    padding:0px;
 }
#one{
    border:2px solid black;
    width:100px;
    height:90px; 
     vertical-align: top;
     text-align: left;
}
#two{
    border:2px solid black;
    width:100px;
    height:90px;
     vertical-align: top;
     text-align: left;
}
#three{
    border:2px solid black;
    width:100px;
    height:90px;
     vertical-align: top;
     text-align: left;

    
}
#ino{
    border:2px solid black;
    text-transform: capitalize;
    width:200px;
    height:100px;
    vertical-align: top;
}
#intw{
    border:2px solid black;
    text-transform: capitalize;
    width:200px;
    height:100px;
    vertical-align: top;
}
#intr{
    border:2px solid black;
    text-transform: capitalize;
    width:200px;
    height:100px;
    vertical-align: top;
}
#m{
    border:2px solid black;
    text-transform: capitalize;
   }
#o{
    border:2px solid black;
    text-transform: capitalize;
    vertical-align: top;
} */
 /* #one{
    text-align: center;
    text-decoration: dashed;
    font-weight: bolder;
    text-transform: capitalize;
 }
 #two{
    text-align: center;
    text-decoration: dashed;
    font-weight: bolder;
    text-transform: capitalize;
 }
 h3{
    text-align: center;
 }
 PRE{
    font-size: large;
 }
 li{
    font-size: large;
 } */
/* div{
    display: inline-block;
} */


